@charset "utf-8";
/* common css */
$container_width:1060px;
$container_padding:30px;
body{
	font-size: 14px;
	line-height: 1.5em;
	color: $text_color;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;	
	background : $bg_color none no-repeat 0 0 scroll;	
}

/* reset */
h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding : 0px;
}
.container{
	width : ($container_width + $container_padding);
}

p{ margin : 0px; }

a:hover{text-decoration : none;}

@media screen and (max-width: $screen_xs_max) {
	#screen_type{ content : "xs"; }
}
@media screen and (min-width: $screen_sm_min) and (max-width: $screen_sm_max) {
	#screen_type{ content : "sm"; }
}
@media screen and (min-width: $screen_md_min) and (max-width: $screen_md_max) {
	#screen_type{ content : "md"; }
}
@media screen and (min-width: $screen_lg_min) {
	#screen_type{ content : "lg"; }
}
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/

$primary_width:760px;
$sidebar_width:280px;
$primary_margin:$container_width - $primary_width - $sidebar_width;

#wrapper {
	min-width : $container_width + $container_padding;
}

.primary{	
	.primary-row{
		margin-top: 40px;
		.primary-row{
			margin-top: 20px;
		}
		.primary-row:first-child{
			margin-top: 0px;
		}
	}
	.primary-row:first-child{
		margin-top: 0px;
	}
}

.sidebar{	
	.sidebar-row{
		margin-top: 20px;
	}
	.sidebar-row:first-child{
		margin-top: 0px;
	}
}

.two-cols-left{	
	.primary{
		width: $primary_width;
		float : left;
		margin-left: $sidebar_width + $primary_margin;
	}
	.sidebar{
		width: $sidebar_width;
		float : left;		
		margin-left: - ($primary_width+ $sidebar_width + $primary_margin);
	}
}

.two-cols-right{
	.primary{
		float : left;
		width: $primary_width;
		margin-right: $primary_margin;
	}
	.sidebar{
		float : left;
		width: $sidebar_width;
	}
}


/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em{ line-height : 2em; }
.ln15em{ line-height : 1.5em; }

/*/////// table ///////*/
table{
	border-width : 1px;
	border-style : solid;
	border-collapse : collapsed;
	width : 100%;
	tr{			
		th{
			
		}
		th,td{
			padding: 9px 20px;
			border : 1px solid #E3E3E3;
		}
	}
}


/*////// message //////*/
.message-group{
	.message-row{
		margin-top: 20px;
		.message-col{
			float : left;			
			.image{
				img{ max-width : 100%; height : auto; }
			}
		}
		.message-col:first-child{
			margin-left: 0px;
		}
		/* mesage-col */
		.message-col370{
			width: 370px;
			margin-left: 20px;
		}
		.message-col240{
			width: 240px;
			margin-left: 20px;
		}
		.message-col180{
			width: 180px;
			margin-left: 13px;
		}
		.message-col110{
			width: 110px;
			margin-left: 20px;
		}
		
		.message-col243{
			width: 240px;
			margin-left: 18px;
		}
	}
	.message-row:first-child{
		margin-top: 0px;
	}	
}

.message-right{
	.text{
		float : right;
	}
	.image{
		float : left;
		margin-right: 20px;
	}
}	
.message-left{
	.text{
		float : left;
	}
	.image{
		float : right;
		margin-left: 20px;
	}
}

.message-280{
	.text{
		width: 40px;
	}
	.image{
		width: 280px;
	}
}


.message-238{
	.text{
		width: 495px;
	}
	.image{
		width: 238px;
	}
}

.message-234{
	.text{
		width: 505px;
	}
	.image{
		width: 234px;
	}
}

.message-252{
	margin: 25px 0 15px;
	.text{
		width: 485px;
	}
	.image{
		width: 252px;
	}
}


.message-340{
	.text{
		width: 400px;
	}
	.image{
		width: 340px;
	}
}

.message-323{	
	.text{
		width: 373px;
	}
	.image{
		width: 323px;
	}
}

/*--------------------------------------------------------------
LIST
----------------------------------------------------------------*/
.list-fa-caret{
	margin : 0px;
	padding : 0px;
	list-style : none;
	i.fa{
		margin-right : 5px;
	}
}
.list-inline{
	li{
		float : left;
		margin-left: 10px;
	}
	li:first-child{
		margin-left: 0px;
	}
}

/*---------------------------------------------------------------
CUSTOM CSS
-----------------------------------------------------------------*/

#top{
	background : $main_color none no-repeat 0 0 scroll;
	color : $bg_color;
	a{ color : $bg_color; }
	line-height : 30px;
	a{ line-height : 30px; }

	.top-text{
		float : left;
	}
	.top-list{
		float : right;
		list-style: none;
		padding : 0px;
		margin : 0px;
		i.fa{ margin-right : 3px; }
		li{
			float : left;
			margin-left: 15px;
			a{
				display : block;
				text-decoration: underline;
			}
			a:hover{
				text-decoration: none;
			}
		}
		li:first-child{ margin-left : 0px; }
	}	
}/* end top */

header{
	#header-top{
		background : transparent url("../img/common/header_bg.jpg") repeat-x 0 0 scroll;		
		.header-content{
			padding: 17px 0;
			.header-info1{
				float: left;
				width: 443px;
				.top-title{					
					font :{
						size: 14px;
						weight: bold;
					}
				}
				.header-logo{
					padding-top: 20px;
					float: left;
					width: 443px;				
				}
			}
			
			.header-info2{
				position: relative;
				border: 1px solid $border_color;
				@include border_radius(5px);
				padding: 15px;	
				float: left;
				margin-left: 56px;				
				.header-tel{
					float: left;
					width: 215px;				
				}
				.header-con{
					float: left;
					padding-left: 23px; 					
				}
				.header-icon{
					position: absolute;
					top: -10px;
					right: -50px;
				}
			}				
		}
	}
	
	
}/* end header */

#content{
	padding : 25px 0px 40px;
}


/*/////////// sideNavi ////////////*/
#sideNavi{	
	ul{
		list-style: none;
		padding : 0px;
		margin: 0px;
		li{			
			img{
					max-width: 100%;
					height: auto;
				}
			a{
				display: block;						
			}
		}
		li:first-child{
			margin-top: 0px;
		}
	}
}
/*/////////// sideNavi ////////////*/
#sideMenu{
	ul{
		list-style: none;
		padding : 0px;
		margin : 0px;
		li{
			border-top : 1px dotted $border_color;			
			a{
				line-height: 40px;
				display: block;				
				i.fa{
					margin-right: 15px;
					margin-left: 10px;
				}
			}
			a:hover{
				color: $sub_color1;
			}
		}
		li:first-child{ border-top : 0px; }
	}
}/*//////// Sidebar commmon ////////////*/


#content{
	
}

footer{
	background-color: #f3f3f3;
	padding: 30px 0;	
	.footer-content{
		.footer-logo{
			float: left;
		}
		.footer-contact{
			float: right;
			font-weight: bold;
		}
	}
	.footer-navi{
		margin-top: 35px;
		ul{
			border-top: 1px solid $border_color;
			list-style: none;
			padding : 0px;
			margin: 0px;			
			li{	
				float: left;
				margin: 15px 23px;
				a{
					color: #666;
					display: block;																	
				}
				.fa{								
					padding-right: 5px;						
					font :{
						size: 10px;
						weight: bold;
					}
				}
			}
					
		}		
		.last-child{
			border-bottom: 1px solid $border_color;
		}
	}
	.copyright{
		text-align: left;
		padding-top: 25px;
	}
}