@charset "UTF-8";
/* CSS Document */

@import '_vars';
@import '_base';
@import '_common';

/*////// heading //////*/
h1{

}

.h2_title{	
	line-height : 55px;
	padding-left : 15px;
	background : $bg_color url('../img/common/h2_title.jpg') no-repeat 0 0 scroll;
	margin-bottom : 20px;
	font :{
		size: 20px;
		weight: bold;
	}
}

.main-title{
	background-color: #078B46;
	padding: 15px 0 15px 15px;
	color: $bg_color;
	height: 50px;	
	font :{
		size: 20px;
		weight: bold;
	}
}
.h3-title{		
	height : 45px;
	padding: 15px 0 15px 15px;
	background-color: #eee;	
	font :{
		size: 15px;
		weight: bold;
	}
}
h4{

}

/*/////////// common parts ////////////*/
.navigation{
	a{ color : $sub_color1; }
	a:hover{ text-decoration : underline; }
}
/*/////////// globalNavi ////////////*/
.globalNavi-dynamic{	
	background : $main_color none no-repeat 0 0 scroll;
	.globalNavi-content{		
		position: relative;
		ul{		
			list-style: none;
			padding : 0px;
			margin : 0px;					
			z-index: 100;
			li{
				float : left;				
				background : url("../img/common/global_navi_space.jpg") no-repeat 0 center scroll;														
				a{
					color: $bg_color;
					display: block;
					padding: 15px 38px;	
					text-align: center;
				}				
				a:hover{
					background-color : #20CA64;					
				}
				ul{
					margin : 0px;
					padding : 0px 10px;
					position : absolute;
					top: 50px;
					display: none;
					background : $main_color none no-repeat 0 0 scroll;					
					li{
						background: none;
						a{
							color: $bg_color;
							display: block;
							padding: 15px 25px;	
							text-align: center;
						}	
					}
				}				
			}
			li:hover{
				ul{
					display: block;
					width: 210px;
				}
			}
			
		}	
		.global-navi-space{
			position: absolute;
			top: 9px;
			right: 0px;			
		}
	}
}

/*/////////// feature ////////////*/
#feature{
	position : relative;
	margin-bottom : 40px;
	.headerbtn{
		width: 100%;				
		position : absolute;
		bottom: -35px;
		.headerbtn-content{			
			ul{
				list-style: none;
				padding : 0px;
				margin : 0px;
				li{
					float : left;
					margin : 0px 5px;										
					a{							
						display: block;
						img{
							@include border_radius(5px);
							width: 250px;
							height: 76px;
						}						
					}
					a:hover{						
						@include border_radius(5px);
						width: 250px;
						height: 76px;						
					}
				}
			}
		}
	}
}
.dark-tooltip{
	width : 200px;	
}

#page-feature{	
	height: 190px;
	.page-feature-content{
		padding: 20px 0; 
		position : relative;	
		.feature-title{
			position: absolute;
			top: 70px;
			left: 30px;
			height : 155px;			
			color: #068b46;
			font :{
				size: 45px;
				weight: bold;
			}
		}		
	}	
}

.feature-bg{
	background-color: #dff9e8;		
	height: 118px;
}

#breadcrumb{				
	.home{
		color: #08A151;
	}
}

/*/////////// maintop ////////////*/
#maintop{
	padding : 15px 0px;
	p{ margin-top : 20px; }
	p:first-child{ margin-top : 0px; }
}
#mainslide{
	background: #dff9e8 none no-repeat 0 0 scroll;	
	.mainslide-content{		
		.bx-wrapper{
			margin : 0px auto;
			img{
				height: 350px;
			}
		}	
		.bx-viewport{
			left : 1px;
			box-shadow : none;
			/*border : none;*/
		}
		.bx-pager{ display : none; }
		#bx-pager{
			text-align: center;
			background : $main_color none no-repeat 0 0 scroll;
			padding : 10px 0px;
			a{
				margin : 0px 3px;
				img{
					width: 200px;
					height: 70px;
				}
			}
		}
		.bx-controls-direction .bx-prev{
			position: absolute;			
			left : -64px;
		}
		.bx-controls-direction .bx-next{
			position: absolute;			
			right : -64px;
		}		
	}
}

/*/////////// side-con ////////////*/
.side-con{
	position : relative;
	.side-con-btn{
		position : absolute;
		bottom : 10px;
		left : 10px;
	}
}

/*/////////// side-map ////////////*/
.side-map{
	position : relative;
	.side-map-btn{
		position : absolute;
		bottom : 15px;
		left : 20px;		
		color: $bg_color;
		.fa{
			padding-right: 5px;
		}
		a{
			text-decoration: underline;
			color: $bg_color;
		}
		a:hover{
			text-decoration: none;
		}
	}
}

/*/////////// part-area ////////////*/
.area{	
	border: 2px solid #078B46;
	@include border_radius(5px);	
	.area-title{
		background-color: #078B46;
		@include border_radius(5px);		
		padding: 10px;
		margin: 10px;
		text-align: center;
		color: $bg_color;
		font:{
			size: 20px;
			weight: bold;
		}
	}
	.area-category{		
		margin-bottom: 10px;
		> span{		
		margin-bottom: 5px;
		font-weight: bold;
		color: $text_color;
		}
		.area{
			li{
				a{
					color: $text_color;
				}
			}
		}
	}
	a:hover{
		text-decoration: underline;
		color: $sub_color1;
	}
	
	.eigyouarea{
		padding: 10px;
		.sub-title{
			background-color: #eee;
			@include border_radius(5px);
			color: $text-color;	
			text-align: left;
			padding: 10px;
			margin-bottom: 10px;
			font :{
				size: 16px;
				weight: bold;
			}
		}
		dl,dt{
			border-bottom: 2px solid #ccc;
			padding-bottom: 5px;
			font-size: 16px;
			.ssub-title{
				margin-left: -10px;
			}
		}
		dd{
			padding: 5px 0 20px;
			font-size: 16px;
			a{
				margin-right: 10px;
				white-space: nowrap;
				color: $text_color;
				font-size: 12px;
			}
		}
	}
}


/* message : title, image, caption, link */
.message-classic .message-col{
	.image{
		text-align: center;		
	}
	.title{
		text-align: center;
		line-height: 2em;
		border-bottom: 1px dotted $border_color;
	}
	.caption{				
		text-align: justify;
		padding : 10px 0px 15px;
	}
	.title, .caption{ word-wrap : break-word; }
	.link{
		text-align: right;	
	}
}

/*/////////// part-contact ////////////*/
.part-contact{
	position : relative;	
	height : 197px;
	.part-contact-btn{
		position : absolute;
		left : 10px;
		top: 55px;
	}
	.text{
		position: absolute;
		left: 10px;
		bottom: 10px;
		.text-note{
			color: #265bff;
			text-decoration: underline;
		}
	}
}

/*/////////// page-blog ////////////*/
.sideBlog{
	.sideBlog-title{
		color: $sub_color1;
		font-size: 16px;
		line-height: 30px;
		border-bottom: 2px solid $sub_color1;
		margin-bottom: 10px;
	}
	ul{
		padding: 0px;
		margin: 0 0 0 10px;
		list-style: none;
	}
}

/* wpcf7 */
.wpcf7{	
	.require, .red {
		color:#F66;
	}
	
	.wpcf7-submit {

	}
	table tr th,td{ font-size : 13px; }
	input{
		margin : 3px 0px;
		font-size: 14px;
		line-height: 30px;
	}
	select{
		width: 250px;
		font-size: 14px;
		line-height: 1.5em;
	}
}

/*////////// company ///////////*/
.company_table{
	tr th{
		font-weight: normal;
		background-color: #fafaf2;
		width: 100px;
	}
}

/*/////////// custom post : work ////////////*/
.message-work{
	.image{		
		width: 370px;
	}
	.text{				
		width: 370px;
	}
}

/*/////////// index ////////////*/
.top-content{
	margin-top: -20px;
}
	
.top-content-info2{	
	position: relative;
	height: 300px;	
	.title{
		color: #FF7F00;
		position: absolute;		
		left: 20px;
		top: 20px;		
		right: 20px;					
		font :{
			size: 28px;
			weight: bold;
		}
	}
	.text{
		position: absolute;		
		left: 20px;
		top: 60px;		
		right: 220px;					
	}		
}

.top-content-info3{
	background : transparent url("../img/content/top_content_img3.jpg") no-repeat 0 0 scroll;
	height: 916px;	
	position: relative;
	.top-info3-title{
		position: absolute;
		top: 365px;
		padding: 20px 60px 20px 20px;
		color: #068B46;
		font :{
			size: 27px;
			weight: bold;
		}
		.title-color{
			color: #FF0000;
		}
	}
	.top-point{
		position: absolute;
		bottom: 8px;
		left: 95px;
		padding : 0px;
		list-style: none;
		float: left;		
		li{				
			padding: 23px 35px;
			margin: 10px 0px;
			.title{
				color: #068B46;				
				font :{
					size: 27px;					
					weight: bold;
				}
			}
		}
				
		li:last-child{
			margin: 0;
		}
	}			
}

.top-facebook{
	text-align: center;	
	margin: 0 auto;
}
/*/////////// page-kuutyou ////////////*/
.kuutyou-content-info1{
	margin-top: -25px;
	position: relative;
	.info1-text{
		position: absolute;
		width: 705px;
		bottom: 25px;
		left: 30px;		
		tr th, td{
			border: 1px solid #078B46;
			height: 65px			
		}
		tr th{
			width: 325px;
			background-color: #39A26B;
			color: #FFFF4C;
			text-align: center;
			font :{
				size: 20px;
				weight: bold;
			}
		}
		tr td{
			background-color: $bg_color;
			color: $sub_color3;			
			text-align: center;
			font:{
				size: 40px;
				weight: bold;				
			}			
		}
	}
}

.kuutyou-content-info2{
	padding: 20px;
	border: 2px solid #ddd;
	border-top: none;
}

.kuutyou-content-info3{	
	padding: 10px 5px 10px 15px;	
	box-shadow: 0 0 4px 4px #e9e9e9;
	@include border_radius(5px);
	.info3-title{
		.title-info{
			color: #068B46;
			padding-top: 2px;
			font:{
				size: 16px;
				weight: bold;
			}		
		}
		.step{
			float: left;
			font-size: 15px;
			color: #ffff00;
			background-color: #ff9326;
			@include border_radius(5px);
			padding: 1px 7px;
			text-align: center;
			margin-right: 5px;
		}
	}
	.info3-text{
		margin:  10px 10px 0 0;
		font-size: 13px;
	}
}

.kuutyou-content-info4{
	tr th, td{
		border: 1px solid #078B46;
		height: 65px			
	}
	tr th{
		width: 325px;
		background-color: #39A26B;
		color: #FFFF4C;
		text-align: center;
		font :{
			size: 20px;
			weight: bold;
		}
	}
	tr td{
		background-color: $bg_color;
		color: $sub_color3;		
		text-align: center;
		font:{
			size: 40px;
			weight: bold;				
		}					
	}
}

.kuutyou-box{
	position: relative;	
	.kuutyou-arrow{		
		position: absolute;		
		top: 110px;
		left: -18px;
	}	
}

/*/////////// page-house ////////////*/
.table1-content-info{
	margin-top: -25px;
	position: relative;
	.info-text{
		position: absolute;
		width: 705px;
		bottom: 25px;
		left: 30px;		
		tr th, td{
			border: 1px solid #078B46;
			height: 65px			
		}
		tr th{
			width: 325px;
			background-color: #39A26B;
			color: #FFFF4C;
			text-align: center;
			font :{
				size: 20px;
				weight: bold;
			}
		}
		tr td{
			background-color: $bg_color;
			color: $sub_color3;			
			font:{
				size: 40px;
				weight: bold;				
			}
			.size{
				float: left;
				font-size: 15px;
				color: #ffff00;
				background-color: #ff9326;
				@include border_radius(5px);
				padding: 1px 7px;
				margin: 0 20px 0 35px;		
				.sup {
					vertical-align: super;
					font-size: smaller;
				}			
			}	
		}
	}
}

.table2-content-info{
	tr th, td{
		border: 1px solid #078B46;
		height: 65px			
	}
	tr th{
		width: 325px;
		background-color: #39A26B;
		color: #FFFF4C;
		text-align: center;
		font :{
			size: 20px;
			weight: bold;
		}
	}
	tr td{
		background-color: $bg_color;
		color: $sub_color3;		
		font:{
			size: 40px;
			weight: bold;				
		}			
		.size{
			float: left;
			font-size: 15px;
			color: #ffff00;
			background-color: #ff9326;
			@include border_radius(5px);
			padding: 1px 7px;			
			margin: 0 20px 0 65px;		
			.sup {
				vertical-align: super;
				font-size: smaller;
			}			
		}	
	}
}

/*/////////// page-flow ////////////*/
.flow-title{
	position: relative;
	height : 50px;		
	color: $bg_color;	
	.title-info{
		position: absolute;		
		left: 120px;
		top: 13px;
		font :{
			size: 25px;
			weight: bold;
		}
	}
}
	
.flow-content{
	border: 3px solid #ddd;
	border-top: none;	
	padding: 20px;	
	
	.flow-222{			.text{
			width: 470px;
			word-wrap:break-word;
		}
		.image{
			width: 222px;
		}
	}

	.flow-right{
		.text{
			float : right;
			word-wrap:break-word;
		}
		.image{
			float : left;
			margin-right: 20px;
		}
	}	
}

/*/////////// page-staff ////////////*/
.staff-title{
	font-size: 22px;
	padding: 10px 0;
}

.staff-info{
	border-style: none;
	padding: 0 60px 0 25px;
	tr th,td{
		padding: 8px 0 2px;
		border: none;
		font-weight: normal;	
	}
	tr{
		border-bottom: 1px dotted #ccc;
	}
}

/*/////////// page-faq ////////////*/
.faq-content-row{
	margin-bottom: 10px;
	.question-bg{
		background : transparent url("../img/content/faq_content_question.jpg") no-repeat 0 0 scroll;				
		height: 50px;		
		padding: 15px 0 0 55px;
		color: $bg_color;
		font:{
			size: 14px;
			weight: bold;
		}			
	}
	.answer-bg{
		width: 755px;
		padding: 15px 0 0 12px;		
		.answer{				
			background : transparent url("../img/content/faq_content_answer.png") no-repeat 0 0 scroll;						
			height: 34px;
			padding-left: 45px;
		}
	}
}

/*/////////// page-price ////////////*/
.price-info{
	margin-top: 20px;
	tr th, td{
		padding: 15px;
	}
	tr th{
		font-weight: normal;
		width: 150px;
	}
	tr td{
		color: #f47122;
		font:{
			size: 20px;
			weight: bold;
		}
	}
	.price-vat{
		color: #f47122;
		font:{
			size: 12px;
			weight: bold;
		}
	}
}

#area_content{	
	dl{		
		dd{
			line-height: 2em;
			a{
				padding: 0 7px;
			}
		}
		dt{
			padding: 10px 0;
		}
	}
}


/*////////////////archive-beforeafter//////////////*/
.archive-beforeafter {
	border: 1px solid #c8c8c8;
	padding: 10px;
	.image img{
		width: 347px !important;
		height: 207px !important;
	}
	.beforeafter-title{
		width: 347px;
		font-weight: bold;
		line-height: 30px;
		padding-left: 10px;
		margin-bottom: 5px;
		background-color: #e3f4d6;
		a{	
			color: $text_color;
		}
		a:hover{
			color:#3e8622;
		}
	}
}
.beforeafter-category{
	color: red;
	font-weight: bold;
	float: left;
	width: 255px;
	a{	
		color: $text_color;
	}
	a:hover{
		color:#3e8622;
	}
}
.beforeafter-date{
	text-align: right;
}	

/*////////////////single-beforeafter//////////////*/
#beforeafter-detail-navi {    
  background: url("../img/content/beforeafter_detail_navi_bg.jpg") repeat 0 0 scroll; 
  display:block; 
  margin: 0 0 15px 0;  
  }
  #beforeafter-detail-navi .beforeafter-detail-navi {
    width:760px;
    margin: 0px;
    padding: 0px;
    list-style: none; }
  #beforeafter-detail-navi .beforeafter-detail-navi li {
	width: 152px;
    float: left;
    background: url("../img/content/beforeafter_detail_space.jpg") no-repeat 0 0 scroll; 
	}
  #beforeafter-detail-navi .beforeafter-detail-navi li:first-child {    
		background: none;
	}
  #beforeafter-detail-navi .beforeafter-detail-navi li a {
	line-height: 60px;  
	font-weight:bold;
	text-align: center;
    color: #fff;
    display: block;	
    } 
 #beforeafter-detail-navi .beforeafter-detail-navi li a:hover {
    background: url("../img/content/beforeafter_detail_navi_hover.jpg") repeat 0 0 scroll; 
    color: #fff;
    }
/* end beforeafter-detail-navi */
.beforeafter-detail-content{
	padding: 20px;	
	border: 1px solid #e3e3e3;
	.beforeafter-title{
		border-bottom: 2px solid #59b118;
		padding-bottom: 10px;
		.beforeafter-title{
			color: red;
			font-weight: bold;
			float: left;
			width: 380px;
		}
		.beforeafter-date{
			text-align: right;
		}	
	}
	
	table.beforeafter-table-image{
		margin: 10px 0;
		border-width : 0;
		border-style : none;				
		tr{			
			th,td.beforeafter-table-detail{
				padding: 0;
				border : none;				
			}
			th,td.beforeafter-table-detail-arrow{
				padding: 0 10px;	
				border: none;				
			}
			th,td.beforeafter-table-detail img{
				width: 347px;
				height: 207px;
			}
		}
	}
	.beforeafter-text{
		padding-top: 20px;
		.beforeafter-table-text{
			width: 380px;
			float: left;
			th.beforeafter-table-title{
				background-color: #e3f4d6;						
			}
			tr th,td{
				a{	
					color: $text_color;
				}
				a:hover{
					color:#3e8622;
				}
			}
		}
		.beforeafter-detail-info{
			width: 330px;
			float: right;			
		}
	}
}


.beforeafter-prev-text a{	
		text-indent: -9999px;		
		background: url("../img/content/beforeafter_detail_prev.jpg") no-repeat center 0 scroll; 
		text-align: center;
		height: 53px;
		display: block;
		margin: 0px 244px;
	}
