@charset "UTF-8";
/* CSS Document */
/* base css */
.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*/////////// link ////////////*/
a {
  color: #09a251;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #1ef382; }

a:link {
  color: #265bff; }

a:visited {
  color: #265bff; }

a:hover {
  color: #434343; }

a.img_bg_white {
  display: inline-block;
  background-color: #fff; }

a.img_bg_white img {
  opacity: 0.7;
  filter: alpha(opacity=70); }

/* not transparence

a:hover img{
  	opacity: 1;
}

*/
/*/////////// clear ////////////*/
.clear {
  clear: both; }

/* clearfix css */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  min-height: 1px; }

* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/* common css */
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #333333;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: white none no-repeat 0 0 scroll; }

/* reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

.container {
  width: 1090px; }

p {
  margin: 0px; }

a:hover {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  #screen_type {
    content: "xs"; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  #screen_type {
    content: "sm"; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #screen_type {
    content: "md"; } }
@media screen and (min-width: 1200px) {
  #screen_type {
    content: "lg"; } }
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
#wrapper {
  min-width: 1090px; }

.primary .primary-row {
  margin-top: 40px; }
  .primary .primary-row .primary-row {
    margin-top: 20px; }
  .primary .primary-row .primary-row:first-child {
    margin-top: 0px; }
.primary .primary-row:first-child {
  margin-top: 0px; }

.sidebar .sidebar-row {
  margin-top: 20px; }
.sidebar .sidebar-row:first-child {
  margin-top: 0px; }

.two-cols-left .primary {
  width: 760px;
  float: left;
  margin-left: 300px; }
.two-cols-left .sidebar {
  width: 280px;
  float: left;
  margin-left: -1060px; }

.two-cols-right .primary {
  float: left;
  width: 760px;
  margin-right: 20px; }
.two-cols-right .sidebar {
  float: left;
  width: 280px; }

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em {
  line-height: 2em; }

.ln15em {
  line-height: 1.5em; }

/*/////// table ///////*/
table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapsed;
  width: 100%; }
  table tr th, table tr td {
    padding: 9px 20px;
    border: 1px solid #E3E3E3; }

/*////// message //////*/
.message-group .message-row {
  margin-top: 20px;
  /* mesage-col */ }
  .message-group .message-row .message-col {
    float: left; }
    .message-group .message-row .message-col .image img {
      max-width: 100%;
      height: auto; }
  .message-group .message-row .message-col:first-child {
    margin-left: 0px; }
  .message-group .message-row .message-col370 {
    width: 370px;
    margin-left: 20px; }
  .message-group .message-row .message-col240 {
    width: 240px;
    margin-left: 20px; }
  .message-group .message-row .message-col180 {
    width: 180px;
    margin-left: 13px; }
  .message-group .message-row .message-col110 {
    width: 110px;
    margin-left: 20px; }
  .message-group .message-row .message-col243 {
    width: 240px;
    margin-left: 18px; }
.message-group .message-row:first-child {
  margin-top: 0px; }

.message-right .text {
  float: right; }
.message-right .image {
  float: left;
  margin-right: 20px; }

.message-left .text {
  float: left; }
.message-left .image {
  float: right;
  margin-left: 20px; }

.message-280 .text {
  width: 40px; }
.message-280 .image {
  width: 280px; }

.message-238 .text {
  width: 495px; }
.message-238 .image {
  width: 238px; }

.message-234 .text {
  width: 505px; }
.message-234 .image {
  width: 234px; }

.message-252 {
  margin: 25px 0 15px; }
  .message-252 .text {
    width: 485px; }
  .message-252 .image {
    width: 252px; }

.message-340 .text {
  width: 400px; }
.message-340 .image {
  width: 340px; }

.message-323 .text {
  width: 373px; }
.message-323 .image {
  width: 323px; }

/*--------------------------------------------------------------
LIST
----------------------------------------------------------------*/
.list-fa-caret {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  .list-fa-caret i.fa {
    margin-right: 5px; }

.list-inline li {
  float: left;
  margin-left: 10px; }
.list-inline li:first-child {
  margin-left: 0px; }

/*---------------------------------------------------------------
CUSTOM CSS
-----------------------------------------------------------------*/
#top {
  background: #09a251 none no-repeat 0 0 scroll;
  color: white;
  line-height: 30px; }
  #top a {
    color: white; }
  #top a {
    line-height: 30px; }
  #top .top-text {
    float: left; }
  #top .top-list {
    float: right;
    list-style: none;
    padding: 0px;
    margin: 0px; }
    #top .top-list i.fa {
      margin-right: 3px; }
    #top .top-list li {
      float: left;
      margin-left: 15px; }
      #top .top-list li a {
        display: block;
        text-decoration: underline; }
      #top .top-list li a:hover {
        text-decoration: none; }
    #top .top-list li:first-child {
      margin-left: 0px; }

/* end top */
header #header-top {
  background: transparent url("../img/common/header_bg.jpg") repeat-x 0 0 scroll; }
  header #header-top .header-content {
    padding: 17px 0; }
    header #header-top .header-content .header-info1 {
      float: left;
      width: 443px; }
      header #header-top .header-content .header-info1 .top-title {
        font-size: 14px;
        font-weight: bold; }
      header #header-top .header-content .header-info1 .header-logo {
        padding-top: 20px;
        float: left;
        width: 443px; }
    header #header-top .header-content .header-info2 {
      position: relative;
      border: 1px solid #cccccc;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 15px;
      float: left;
      margin-left: 56px; }
      header #header-top .header-content .header-info2 .header-tel {
        float: left;
        width: 215px; }
      header #header-top .header-content .header-info2 .header-con {
        float: left;
        padding-left: 23px; }
      header #header-top .header-content .header-info2 .header-icon {
        position: absolute;
        top: -10px;
        right: -50px; }

/* end header */
#content {
  padding: 25px 0px 40px; }

/*/////////// sideNavi ////////////*/
#sideNavi ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }
  #sideNavi ul li img {
    max-width: 100%;
    height: auto; }
  #sideNavi ul li a {
    display: block; }
  #sideNavi ul li:first-child {
    margin-top: 0px; }

/*/////////// sideNavi ////////////*/
#sideMenu ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }
  #sideMenu ul li {
    border-top: 1px dotted #cccccc; }
    #sideMenu ul li a {
      line-height: 40px;
      display: block; }
      #sideMenu ul li a i.fa {
        margin-right: 15px;
        margin-left: 10px; }
    #sideMenu ul li a:hover {
      color: #0852a0; }
  #sideMenu ul li:first-child {
    border-top: 0px; }

/*//////// Sidebar commmon ////////////*/
footer {
  background-color: #f3f3f3;
  padding: 30px 0; }
  footer .footer-content .footer-logo {
    float: left; }
  footer .footer-content .footer-contact {
    float: right;
    font-weight: bold; }
  footer .footer-navi {
    margin-top: 35px; }
    footer .footer-navi ul {
      border-top: 1px solid #cccccc;
      list-style: none;
      padding: 0px;
      margin: 0px; }
      footer .footer-navi ul li {
        float: left;
        margin: 15px 23px; }
        footer .footer-navi ul li a {
          color: #666;
          display: block; }
        footer .footer-navi ul li .fa {
          padding-right: 5px;
          font-size: 10px;
          font-weight: bold; }
    footer .footer-navi .last-child {
      border-bottom: 1px solid #cccccc; }
  footer .copyright {
    text-align: left;
    padding-top: 25px; }

/*////// heading //////*/
.h2_title {
  line-height: 55px;
  padding-left: 15px;
  background: white url("../img/common/h2_title.jpg") no-repeat 0 0 scroll;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold; }

.main-title {
  background-color: #078B46;
  padding: 15px 0 15px 15px;
  color: white;
  height: 50px;
  font-size: 20px;
  font-weight: bold; }

.h3-title {
  height: 45px;
  padding: 15px 0 15px 15px;
  background-color: #eee;
  font-size: 15px;
  font-weight: bold; }

/*/////////// common parts ////////////*/
.navigation a {
  color: #0852a0; }
.navigation a:hover {
  text-decoration: underline; }

/*/////////// globalNavi ////////////*/
.globalNavi-dynamic {
  background: #09a251 none no-repeat 0 0 scroll; }
  .globalNavi-dynamic .globalNavi-content {
    position: relative; }
    .globalNavi-dynamic .globalNavi-content ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      z-index: 100; }
      .globalNavi-dynamic .globalNavi-content ul li {
        float: left;
        background: url("../img/common/global_navi_space.jpg") no-repeat 0 center scroll; }
        .globalNavi-dynamic .globalNavi-content ul li a {
          color: white;
          display: block;
          padding: 15px 38px;
          text-align: center; }
        .globalNavi-dynamic .globalNavi-content ul li a:hover {
          background-color: #20CA64; }
        .globalNavi-dynamic .globalNavi-content ul li ul {
          margin: 0px;
          padding: 0px 10px;
          position: absolute;
          top: 50px;
          display: none;
          background: #09a251 none no-repeat 0 0 scroll; }
          .globalNavi-dynamic .globalNavi-content ul li ul li {
            background: none; }
            .globalNavi-dynamic .globalNavi-content ul li ul li a {
              color: white;
              display: block;
              padding: 15px 25px;
              text-align: center; }
      .globalNavi-dynamic .globalNavi-content ul li:hover ul {
        display: block;
        width: 210px; }
    .globalNavi-dynamic .globalNavi-content .global-navi-space {
      position: absolute;
      top: 9px;
      right: 0px; }

/*/////////// feature ////////////*/
#feature {
  position: relative;
  margin-bottom: 40px; }
  #feature .headerbtn {
    width: 100%;
    position: absolute;
    bottom: -35px; }
    #feature .headerbtn .headerbtn-content ul {
      list-style: none;
      padding: 0px;
      margin: 0px; }
      #feature .headerbtn .headerbtn-content ul li {
        float: left;
        margin: 0px 5px; }
        #feature .headerbtn .headerbtn-content ul li a {
          display: block; }
          #feature .headerbtn .headerbtn-content ul li a img {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            width: 250px;
            height: 76px; }
        #feature .headerbtn .headerbtn-content ul li a:hover {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          width: 250px;
          height: 76px; }

.dark-tooltip {
  width: 200px; }

#page-feature {
  height: 190px; }
  #page-feature .page-feature-content {
    padding: 20px 0;
    position: relative; }
    #page-feature .page-feature-content .feature-title {
      position: absolute;
      top: 70px;
      left: 30px;
      height: 155px;
      color: #068b46;
      font-size: 45px;
      font-weight: bold; }

.feature-bg {
  background-color: #dff9e8;
  height: 118px; }

#breadcrumb .home {
  color: #08A151; }

/*/////////// maintop ////////////*/
#maintop {
  padding: 15px 0px; }
  #maintop p {
    margin-top: 20px; }
  #maintop p:first-child {
    margin-top: 0px; }

#mainslide {
  background: #dff9e8 none no-repeat 0 0 scroll; }
  #mainslide .mainslide-content .bx-wrapper {
    margin: 0px auto; }
    #mainslide .mainslide-content .bx-wrapper img {
      height: 350px; }
  #mainslide .mainslide-content .bx-viewport {
    left: 1px;
    box-shadow: none;
    /*border : none;*/ }
  #mainslide .mainslide-content .bx-pager {
    display: none; }
  #mainslide .mainslide-content #bx-pager {
    text-align: center;
    background: #09a251 none no-repeat 0 0 scroll;
    padding: 10px 0px; }
    #mainslide .mainslide-content #bx-pager a {
      margin: 0px 3px; }
      #mainslide .mainslide-content #bx-pager a img {
        width: 200px;
        height: 70px; }
  #mainslide .mainslide-content .bx-controls-direction .bx-prev {
    position: absolute;
    left: -64px; }
  #mainslide .mainslide-content .bx-controls-direction .bx-next {
    position: absolute;
    right: -64px; }

/*/////////// side-con ////////////*/
.side-con {
  position: relative; }
  .side-con .side-con-btn {
    position: absolute;
    bottom: 10px;
    left: 10px; }

/*/////////// side-map ////////////*/
.side-map {
  position: relative; }
  .side-map .side-map-btn {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white; }
    .side-map .side-map-btn .fa {
      padding-right: 5px; }
    .side-map .side-map-btn a {
      text-decoration: underline;
      color: white; }
    .side-map .side-map-btn a:hover {
      text-decoration: none; }

/*/////////// part-area ////////////*/
.area {
  border: 2px solid #078B46;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .area .area-title {
    background-color: #078B46;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold; }
  .area .area-category {
    margin-bottom: 10px; }
    .area .area-category > span {
      margin-bottom: 5px;
      font-weight: bold;
      color: #333333; }
    .area .area-category .area li a {
      color: #333333; }
  .area a:hover {
    text-decoration: underline;
    color: #0852a0; }
  .area .eigyouarea {
    padding: 10px; }
    .area .eigyouarea .sub-title {
      background-color: #eee;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      color: #333333;
      text-align: left;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: bold; }
    .area .eigyouarea dl, .area .eigyouarea dt {
      border-bottom: 2px solid #ccc;
      padding-bottom: 5px;
      font-size: 16px; }
      .area .eigyouarea dl .ssub-title, .area .eigyouarea dt .ssub-title {
        margin-left: -10px; }
    .area .eigyouarea dd {
      padding: 5px 0 20px;
      font-size: 16px; }
      .area .eigyouarea dd a {
        margin-right: 10px;
        white-space: nowrap;
        color: #333333;
        font-size: 12px; }

/* message : title, image, caption, link */
.message-classic .message-col .image {
  text-align: center; }
.message-classic .message-col .title {
  text-align: center;
  line-height: 2em;
  border-bottom: 1px dotted #cccccc; }
.message-classic .message-col .caption {
  text-align: justify;
  padding: 10px 0px 15px; }
.message-classic .message-col .title, .message-classic .message-col .caption {
  word-wrap: break-word; }
.message-classic .message-col .link {
  text-align: right; }

/*/////////// part-contact ////////////*/
.part-contact {
  position: relative;
  height: 197px; }
  .part-contact .part-contact-btn {
    position: absolute;
    left: 10px;
    top: 55px; }
  .part-contact .text {
    position: absolute;
    left: 10px;
    bottom: 10px; }
    .part-contact .text .text-note {
      color: #265bff;
      text-decoration: underline; }

/*/////////// page-blog ////////////*/
.sideBlog .sideBlog-title {
  color: #0852a0;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 2px solid #0852a0;
  margin-bottom: 10px; }
.sideBlog ul {
  padding: 0px;
  margin: 0 0 0 10px;
  list-style: none; }

/* wpcf7 */
.wpcf7 .require, .wpcf7 .red {
  color: #F66; }
.wpcf7 table tr th, .wpcf7 td {
  font-size: 13px; }
.wpcf7 input {
  margin: 3px 0px;
  font-size: 14px;
  line-height: 30px; }
.wpcf7 select {
  width: 250px;
  font-size: 14px;
  line-height: 1.5em; }

/*////////// company ///////////*/
.company_table tr th {
  font-weight: normal;
  background-color: #fafaf2;
  width: 100px; }

/*/////////// custom post : work ////////////*/
.message-work .image {
  width: 370px; }
.message-work .text {
  width: 370px; }

/*/////////// index ////////////*/
.top-content {
  margin-top: -20px; }

.top-content-info2 {
  position: relative;
  height: 300px; }
  .top-content-info2 .title {
    color: #FF7F00;
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    font-size: 28px;
    font-weight: bold; }
  .top-content-info2 .text {
    position: absolute;
    left: 20px;
    top: 60px;
    right: 220px; }

.top-content-info3 {
  background: transparent url("../img/content/top_content_img3.jpg") no-repeat 0 0 scroll;
  height: 916px;
  position: relative; }
  .top-content-info3 .top-info3-title {
    position: absolute;
    top: 365px;
    padding: 20px 60px 20px 20px;
    color: #068B46;
    font-size: 27px;
    font-weight: bold; }
    .top-content-info3 .top-info3-title .title-color {
      color: #FF0000; }
  .top-content-info3 .top-point {
    position: absolute;
    bottom: 8px;
    left: 95px;
    padding: 0px;
    list-style: none;
    float: left; }
    .top-content-info3 .top-point li {
      padding: 23px 35px;
      margin: 10px 0px; }
      .top-content-info3 .top-point li .title {
        color: #068B46;
        font-size: 27px;
        font-weight: bold; }
    .top-content-info3 .top-point li:last-child {
      margin: 0; }

.top-facebook {
  text-align: center;
  margin: 0 auto; }

/*/////////// page-kuutyou ////////////*/
.kuutyou-content-info1 {
  margin-top: -25px;
  position: relative; }
  .kuutyou-content-info1 .info1-text {
    position: absolute;
    width: 705px;
    bottom: 25px;
    left: 30px; }
    .kuutyou-content-info1 .info1-text tr th, .kuutyou-content-info1 .info1-text td {
      border: 1px solid #078B46;
      height: 65px; }
    .kuutyou-content-info1 .info1-text tr th {
      width: 325px;
      background-color: #39A26B;
      color: #FFFF4C;
      text-align: center;
      font-size: 20px;
      font-weight: bold; }
    .kuutyou-content-info1 .info1-text tr td {
      background-color: white;
      color: red;
      text-align: center;
      font-size: 40px;
      font-weight: bold; }

.kuutyou-content-info2 {
  padding: 20px;
  border: 2px solid #ddd;
  border-top: none; }

.kuutyou-content-info3 {
  padding: 10px 5px 10px 15px;
  box-shadow: 0 0 4px 4px #e9e9e9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .kuutyou-content-info3 .info3-title .title-info {
    color: #068B46;
    padding-top: 2px;
    font-size: 16px;
    font-weight: bold; }
  .kuutyou-content-info3 .info3-title .step {
    float: left;
    font-size: 15px;
    color: #ffff00;
    background-color: #ff9326;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 1px 7px;
    text-align: center;
    margin-right: 5px; }
  .kuutyou-content-info3 .info3-text {
    margin: 10px 10px 0 0;
    font-size: 13px; }

.kuutyou-content-info4 tr th, .kuutyou-content-info4 td {
  border: 1px solid #078B46;
  height: 65px; }
.kuutyou-content-info4 tr th {
  width: 325px;
  background-color: #39A26B;
  color: #FFFF4C;
  text-align: center;
  font-size: 20px;
  font-weight: bold; }
.kuutyou-content-info4 tr td {
  background-color: white;
  color: red;
  text-align: center;
  font-size: 40px;
  font-weight: bold; }

.kuutyou-box {
  position: relative; }
  .kuutyou-box .kuutyou-arrow {
    position: absolute;
    top: 110px;
    left: -18px; }

/*/////////// page-house ////////////*/
.table1-content-info {
  margin-top: -25px;
  position: relative; }
  .table1-content-info .info-text {
    position: absolute;
    width: 705px;
    bottom: 25px;
    left: 30px; }
    .table1-content-info .info-text tr th, .table1-content-info .info-text td {
      border: 1px solid #078B46;
      height: 65px; }
    .table1-content-info .info-text tr th {
      width: 325px;
      background-color: #39A26B;
      color: #FFFF4C;
      text-align: center;
      font-size: 20px;
      font-weight: bold; }
    .table1-content-info .info-text tr td {
      background-color: white;
      color: red;
      font-size: 40px;
      font-weight: bold; }
      .table1-content-info .info-text tr td .size {
        float: left;
        font-size: 15px;
        color: #ffff00;
        background-color: #ff9326;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 1px 7px;
        margin: 0 20px 0 35px; }
        .table1-content-info .info-text tr td .size .sup {
          vertical-align: super;
          font-size: smaller; }

.table2-content-info tr th, .table2-content-info td {
  border: 1px solid #078B46;
  height: 65px; }
.table2-content-info tr th {
  width: 325px;
  background-color: #39A26B;
  color: #FFFF4C;
  text-align: center;
  font-size: 20px;
  font-weight: bold; }
.table2-content-info tr td {
  background-color: white;
  color: red;
  font-size: 40px;
  font-weight: bold; }
  .table2-content-info tr td .size {
    float: left;
    font-size: 15px;
    color: #ffff00;
    background-color: #ff9326;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 1px 7px;
    margin: 0 20px 0 65px; }
    .table2-content-info tr td .size .sup {
      vertical-align: super;
      font-size: smaller; }

/*/////////// page-flow ////////////*/
.flow-title {
  position: relative;
  height: 50px;
  color: white; }
  .flow-title .title-info {
    position: absolute;
    left: 120px;
    top: 13px;
    font-size: 25px;
    font-weight: bold; }

.flow-content {
  border: 3px solid #ddd;
  border-top: none;
  padding: 20px; }
  .flow-content .flow-222 .text {
    width: 470px;
    word-wrap: break-word; }
  .flow-content .flow-222 .image {
    width: 222px; }
  .flow-content .flow-right .text {
    float: right;
    word-wrap: break-word; }
  .flow-content .flow-right .image {
    float: left;
    margin-right: 20px; }

/*/////////// page-staff ////////////*/
.staff-title {
  font-size: 22px;
  padding: 10px 0; }

.staff-info {
  border-style: none;
  padding: 0 60px 0 25px; }
  .staff-info tr th, .staff-info td {
    padding: 8px 0 2px;
    border: none;
    font-weight: normal; }
  .staff-info tr {
    border-bottom: 1px dotted #ccc; }

/*/////////// page-faq ////////////*/
.faq-content-row {
  margin-bottom: 10px; }
  .faq-content-row .question-bg {
    background: transparent url("../img/content/faq_content_question.jpg") no-repeat 0 0 scroll;
    height: 50px;
    padding: 15px 0 0 55px;
    color: white;
    font-size: 14px;
    font-weight: bold; }
  .faq-content-row .answer-bg {
    width: 755px;
    padding: 15px 0 0 12px; }
    .faq-content-row .answer-bg .answer {
      background: transparent url("../img/content/faq_content_answer.png") no-repeat 0 0 scroll;
      height: 34px;
      padding-left: 45px; }

/*/////////// page-price ////////////*/
.price-info {
  margin-top: 20px; }
  .price-info tr th, .price-info td {
    padding: 15px; }
  .price-info tr th {
    font-weight: normal;
    width: 150px; }
  .price-info tr td {
    color: #f47122;
    font-size: 20px;
    font-weight: bold; }
  .price-info .price-vat {
    color: #f47122;
    font-size: 12px;
    font-weight: bold; }

#area_content dl dd {
  line-height: 2em; }
  #area_content dl dd a {
    padding: 0 7px; }
#area_content dl dt {
  padding: 10px 0; }

/*////////////////archive-beforeafter//////////////*/
.archive-beforeafter {
  border: 1px solid #c8c8c8;
  padding: 10px; }
  .archive-beforeafter .image img {
    width: 347px !important;
    height: 207px !important; }
  .archive-beforeafter .beforeafter-title {
    width: 347px;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-bottom: 5px;
    background-color: #e3f4d6; }
    .archive-beforeafter .beforeafter-title a {
      color: #333333; }
    .archive-beforeafter .beforeafter-title a:hover {
      color: #3e8622; }

.beforeafter-category {
  color: red;
  font-weight: bold;
  float: left;
  width: 255px; }
  .beforeafter-category a {
    color: #333333; }
  .beforeafter-category a:hover {
    color: #3e8622; }

.beforeafter-date {
  text-align: right; }

/*////////////////single-beforeafter//////////////*/
#beforeafter-detail-navi {
  background: url("../img/content/beforeafter_detail_navi_bg.jpg") repeat 0 0 scroll;
  display: block;
  margin: 0 0 15px 0; }

#beforeafter-detail-navi .beforeafter-detail-navi {
  width: 760px;
  margin: 0px;
  padding: 0px;
  list-style: none; }

#beforeafter-detail-navi .beforeafter-detail-navi li {
  width: 152px;
  float: left;
  background: url("../img/content/beforeafter_detail_space.jpg") no-repeat 0 0 scroll; }

#beforeafter-detail-navi .beforeafter-detail-navi li:first-child {
  background: none; }

#beforeafter-detail-navi .beforeafter-detail-navi li a {
  line-height: 60px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  display: block; }

#beforeafter-detail-navi .beforeafter-detail-navi li a:hover {
  background: url("../img/content/beforeafter_detail_navi_hover.jpg") repeat 0 0 scroll;
  color: #fff; }

/* end beforeafter-detail-navi */
.beforeafter-detail-content {
  padding: 20px;
  border: 1px solid #e3e3e3; }
  .beforeafter-detail-content .beforeafter-title {
    border-bottom: 2px solid #59b118;
    padding-bottom: 10px; }
    .beforeafter-detail-content .beforeafter-title .beforeafter-title {
      color: red;
      font-weight: bold;
      float: left;
      width: 380px; }
    .beforeafter-detail-content .beforeafter-title .beforeafter-date {
      text-align: right; }
  .beforeafter-detail-content table.beforeafter-table-image {
    margin: 10px 0;
    border-width: 0;
    border-style: none; }
    .beforeafter-detail-content table.beforeafter-table-image tr th, .beforeafter-detail-content table.beforeafter-table-image tr td.beforeafter-table-detail {
      padding: 0;
      border: none; }
    .beforeafter-detail-content table.beforeafter-table-image tr th, .beforeafter-detail-content table.beforeafter-table-image tr td.beforeafter-table-detail-arrow {
      padding: 0 10px;
      border: none; }
    .beforeafter-detail-content table.beforeafter-table-image tr th, .beforeafter-detail-content table.beforeafter-table-image tr td.beforeafter-table-detail img {
      width: 347px;
      height: 207px; }
  .beforeafter-detail-content .beforeafter-text {
    padding-top: 20px; }
    .beforeafter-detail-content .beforeafter-text .beforeafter-table-text {
      width: 380px;
      float: left; }
      .beforeafter-detail-content .beforeafter-text .beforeafter-table-text th.beforeafter-table-title {
        background-color: #e3f4d6; }
      .beforeafter-detail-content .beforeafter-text .beforeafter-table-text tr th a, .beforeafter-detail-content .beforeafter-text .beforeafter-table-text td a {
        color: #333333; }
      .beforeafter-detail-content .beforeafter-text .beforeafter-table-text tr th a:hover, .beforeafter-detail-content .beforeafter-text .beforeafter-table-text td a:hover {
        color: #3e8622; }
    .beforeafter-detail-content .beforeafter-text .beforeafter-detail-info {
      width: 330px;
      float: right; }

.beforeafter-prev-text a {
  text-indent: -9999px;
  background: url("../img/content/beforeafter_detail_prev.jpg") no-repeat center 0 scroll;
  text-align: center;
  height: 53px;
  display: block;
  margin: 0px 244px; }
